# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fcstask
POSTGRES_REPLICATION_USER=replicator
POSTGRES_REPLICATION_PASSWORD=replicatorpass

# Grafana Cloud
GRAFANA_CLOUD_REMOTE_WRITE_URL=https://prometheus-prod-XX-prod-YY.grafana.net/api/prom/push
GRAFANA_CLOUD_REMOTE_WRITE_USERNAME=
GRAFANA_CLOUD_REMOTE_WRITE_PASSWORD=
