# Вставить в .env и дополнить секретами. (Для локального тестирования)

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fcstask
POSTGRES_REPLICATION_USER=replicator
POSTGRES_REPLICATION_PASSWORD=replicatorpass

# Grafana Cloud
GRAFANA_CLOUD_REMOTE_WRITE_URL=https://prometheus-prod-39-prod-eu-north-0.grafana.net/api/prom/push
GRAFANA_CLOUD_REMOTE_WRITE_USERNAME=3264376
GRAFANA_CLOUD_REMOTE_WRITE_PASSWORD=
