TG_SERVER_URL=http://monitor-bot:9094/alert
BOT_DB_PASSWORD=

PROMETHEUS_VERSION=2.45.0
ALERTMANAGER_VERSION=0.26.0

ACTIVE_RULE=sum(rate(echo_requests_total{code="500"}[1m]))>0
#ACTIVE_RULE=sum(rate(echo_requests_total{code="500"}[5m])) / sum(rate(echo_requests_total[5m]))>0.1

PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
