version: '3.8'

services:
  prometheus:
    image: prom/prometheus:v2.45.0
    container_name: fcstask-prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/rules.yml:/etc/prometheus/rules.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle' 
    extra_hosts:
      - "host.docker.internal:host-gateway" 
    networks:
      - monitoring-net

  alertmanager:
    image: prom/alertmanager:v0.26.0
    container_name: fcstask-alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    networks:
      - monitoring-net

volumes:
  prometheus_data:

networks:
  monitoring-net:
    driver: bridge
